.open0 {
    background-image: url('sprite.gif');
    background-position: 0 -23px;
    width: 16px;
    height: 16px
}

.open1 {
    background-image: url('sprite.gif');
    background-position: -16px -23px;
    width: 16px;
    height: 16px
}

.open2 {
    background-image: url('sprite.gif');
    background-position: -32px -23px;
    width: 16px;
    height: 16px
}

.open3 {
    background-image: url('sprite.gif');
    background-position: -48px -23px;
    width: 16px;
    height: 16px
}

.open4 {
    background-image: url('sprite.gif');
    background-position: -64px -23px;
    width: 16px;
    height: 16px
}

.open5 {
    background-image: url('sprite.gif');
    background-position: -80px -23px;
    width: 16px;
    height: 16px
}

.open6 {
    background-image: url('sprite.gif');
    background-position: -96px -23px;
    width: 16px;
    height: 16px
}

.open7 {
    background-image: url('sprite.gif');
    background-position: -112px -23px;
    width: 16px;
    height: 16px
}

.open8 {
    background-image: url('sprite.gif');
    background-position: -128px -23px;
    width: 16px;
    height: 16px
}

.closed {
    background-image: url('sprite.gif');
    background-position: 0 -39px;
    width: 16px;
    height: 16px
}

.marked {
    background-image: url('sprite.gif');
    background-position: -16px -39px;
    width: 16px;
    height: 16px
}

.bombdeath {
    background-image: url('sprite.gif');
    background-position: -32px -39px;
    width: 16px;
    height: 16px
}

.bombmisflagged {
    background-image: url('sprite.gif');
    background-position: -48px -39px;
    width: 16px;
    height: 16px
}

.bombrevealed {
    background-image: url('sprite.gif');
    background-position: -64px -39px;
    width: 16px;
    height: 16px
}

.question {
    background-image: url('sprite.gif');
    background-position: -80px -39px;
    width: 16px;
    height: 16px
}

.questionpressed {
    background-image: url('sprite.gif');
    background-position: -96px -39px;
    width: 16px;
    height: 16px
}

.facesmile {
    background-image: url('sprite.gif');
    background-position: 0 -55px;
    width: 26px;
    height: 26px;
    margin: auto
}

.facepressed {
    background-image: url('sprite.gif');
    background-position: -26px -55px;
    width: 26px;
    height: 26px
}

.faceooh {
    background-image: url('sprite.gif');
    background-position: -52px -55px;
    width: 26px;
    height: 26px
}

.facedead {
    background-image: url('sprite.gif');
    background-position: -78px -55px;
    width: 26px;
    height: 26px
}

.facewin {
    background-image: url('sprite.gif');
    background-position: -104px -55px;
    width: 26px;
    height: 26px
}

.bordertl {
    background-image: url('sprite.gif');
	background-position: 0 -81px;
	width: 10px;
    height: 10px
}

.bordertr {
    background-image: url('sprite.gif');
	background-position: -10px -81px;
	width: 10px;
	height: 10px
}

.borderbl {
    background-image: url('sprite.gif');
    background-position: -20px -81px;
	width: 10px;
    height: 10px
}

.borderbr {
    background-image: url('sprite.gif');
	background-position: -30px -81px;
	width: 10px;
	height: 10px
}

.bordertb {
    background-image: url('sprite.gif');
	background-position: -40px -81px;
	width: 16px;
	height: 10px
}

.borderjointl {
    background-image: url('sprite.gif');
	background-position: -56px -81px;
	width: 10px;
	height: 10px
}

.borderjointr {
    background-image: url('sprite.gif');
	background-position: -66px -81px;
	width: 10px;
	height: 10px
}

.borderlr {
    background-image: url('sprite.gif');
	background-position: -134px -39px;
	width: 10px;
    height: 16px
}

.borderlrlong {
    background-image: url('sprite.gif');
	background-position: -134px -39px;
	width: 10px;
	height: 32px
}

.time0 {
    background-image: url('sprite.gif');
	background-position: 0 0;
	width: 13px;
	height: 23px
}

.time1 {
    background-image: url('sprite.gif');
	background-position: -13px 0;
	width: 13px;
	height: 23px
}

.time2 {
    background-image: url('sprite.gif');
	background-position: -26px 0;
	width: 13px;
	height: 23px
}

.time3 {
    background-image: url('sprite.gif');
	background-position: -39px 0;
	width: 13px;
	height: 23px
}

.time4 {
    background-image: url('sprite.gif');
	background-position: -52px 0;
	width: 13px;
	height: 23px
}

.time5 {
    background-image: url('sprite.gif');
	background-position: -65px 0;
	width: 13px;
	height: 23px
}

.time6 {
    background-image: url('sprite.gif');
	background-position: -78px 0;
	width: 13px;
	height: 23px
}

.time7 {
    background-image: url('sprite.gif');
	background-position: -91px 0;
	width: 13px;
	height: 23px
}

.time8 {
    background-image: url('sprite.gif');
	background-position: -104px 0;
	width: 13px;
	height: 23px
}

.time9 {
    background-image: url('sprite.gif');
	background-position: -117px 0;
	width: 13px;
	height: 23px
}

.time- {
    background-image: url('sprite.gif');
	background-position: -130px 0;
	width: 13px;
	height: 23px
}

.mines_hundreds {
    margin: 4px 0 5px 6px;
    float: left;
}

.mines_tens {
    margin: 4px 0 5px 0;
    float: left;
}

.mines_ones {
    margin: 4px 0 5px 0;
    float: left;
}

.seconds_hundreds {
    margin: 4px 0 5px 0;
    float: left
}

.seconds_tens {
    margin: 4px 0 5px 0;
    float: left
}

.seconds_ones {
    margin: 4px 6px 5px 0;
    float: left
}


